<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MoviePoint</title>
    <link rel="icon" href="~/images/logo.png" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MoviePoint.styles.css" asp-append-version="true" />
</head>
<body class="close">
    <header>
        <nav class="shadow-sm">
            <div class="left_nav">
                <img src="~/images/logo.png" class="left_img" />
                <div class="left_content">
                    <a asp-action="Index" asp-controller="HomeMovie" class="left_title">Movie Point</a>
                    <a asp-action="Index" asp-controller="HomeMovie" class="left_pages">Home</a>
                    <a asp-action="Index" asp-controller="HomeCategory" class="left_pages">Categories</a>
                    <a asp-action="Index" asp-controller="HomeCinema" class="left_pages">Cinemas</a>
                    <li class="nav-item dropdown" style="list-style:none !important;">
                        <a style="color:black !important" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Admin</a>
                        <div class="dropdown-menu">
                            <a asp-action="Index" asp-controller="AllCategory" class="dropdown-item a_all">Categories</a>
                            <a asp-action="Index" asp-controller="AllCinema" class="dropdown-item a_all">Cinemas</a>
                            <a asp-action="Index" asp-controller="AllActor" class="dropdown-item a_all">Actors</a>
                            <a asp-action="Index" asp-controller="AllMovie" class="dropdown-item a_all">Movies</a>
                            <a asp-action="Index" asp-controller="AllActorMovies" class="dropdown-item a_all">Actor Movies</a>
                        </div>
                    </li>
                </div>
            </div>
            <form action="/FindPage/Index" class="right_content">
                <input type="text" name="MovieName" placeholder="Search for movie..." class="input_search" required />
                <button type="submit" class="btn_search">Search</button>
            </form>
        </nav>
    </header>
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

