<div class="main_page col-12">
    <div class="msg_box col-10">
        <h3 class="msg_content">Not found any thing</h3>
    </div>
</div>

<style>
    .main_page {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: center;
        align-items: flex-start;
        padding-top: 1rem;
    }

    .msg_box {
        background-color: #d9aa7e;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: center;
        align-items: flex-start;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .msg_content {
        color: #660a0a;
    }
</style>